root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_require_accessibility_modifiers = always:error
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_preferred_modifier_order = public, private, protected, internal, static, readonly, sealed, abstract, virtual, override, async, unsafe, extern:suggestion
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_analyzer_diagnostic.category-Design.severity = warning
dotnet_analyzer_diagnostic.category-Maintainability.severity = warning
dotnet_analyzer_diagnostic.category-Security.severity = warning

[*.{md,mdx}]
max_line_length = off
trim_trailing_whitespace = true

[*.{yml,yaml,json}]
indent_size = 2
